<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        <div class="titulo">
          Contatos

          <button
            nbButton
            outline
            status="primary"
            size="small"
            class="fr"
            [routerLink]="'/projetos/contato/novo'"
          >
            Adicionar
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <ngx-contact-table> </ngx-contact-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
