<div class="row">
      <div class="col-12">
        <nb-card>
          <nb-card-header>
            <div class="titulo flex">
              Novo Contato
              <nb-actions size="small" class="ml-auto">
                <nb-action
                  icon="refresh-outline"
                  nbTooltip="Resetar"
                  (click)="resetForm()"
                >
                </nb-action>
                <nb-action>
                  <button
                    (click)="submitForm()"
                    nbButton
                    outline
                    status="success"
                    size="small"
                    [disabled]="buttonDisabled"
                  >
                    Salvar
                  </button> 
                </nb-action>
              </nb-actions>
            </div>
          </nb-card-header>
          <nb-card-body>
            <ngx-contact-form
              (buttonStatus)="reciverEvent($event)"
            ></ngx-contact-form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>