<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h1 class="title color-basic-600">404 :(</h1>
          <h5>Página não encontrada</h5>
          <small class="sub-title">Está pagina não existe</small>
          <button
            nbButton
            fullWidth
            (click)="goToHome()"
            type="button"
            class="home-button"
          >
            Sair daqui
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
