@import "../../../@theme/styles/themes.scss";
@import "~bootstrap/scss/mixins";

@include nb-install-component() {
  ::ng-deep {
    nb-icon {
      font-size: 2rem;
      margin: 0 15px;
    }
  }

  nb-card {
    .titulo {
      color: nb-theme(color-basic-400);
      font-size: 1.4rem;
      line-height: 2rem;
    }

    .card-chamados {
      border-radius: 4px;
      opacity: 1;

      nb-card-header {
        border: none;
      }
    }
  }

  nb-card.card-chamados.prioridade {
    border: 1px solid nb-theme(color-danger-500);
  }

  nb-card.card-chamados.abertos {
    border: 1px solid nb-theme(color-info-500);
  }
}
