<ngx-logo-helpdesk></ngx-logo-helpdesk>
<h4 id="title" class="title">Esqueceu a senha</h4>
<p class="sub-title">Insira seu email e enviaremos um link para redefinir a sua senha</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><strong>Algo está errado!</strong></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><strong>E-mail de redefinição de senha enviado.</strong></p>
</nb-alert>

<form (ngSubmit)="requestPass()" #requestPassForm="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-email">Email:</label>
    <input
      nbInput
      [(ngModel)]="user.email"
      #email="ngModel"
      id="input-email"
      name="email"
      pattern=".+@.+\..+"
      placeholder="Email"
      autofocus
      fullWidth
      [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
      required="true"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null"
    />
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">Entre com o email!</p>
      <p class="error-message" *ngIf="email.errors?.pattern">Formato de email inválido!</p>
    </ng-container>
  </div>

  <button
    nbButton
    fullWidth
    status="primary"
    [disabled]="submitted || !requestPassForm.valid"
    [class.btn-pulse]="submitted"
  >
    Solicitar nova senha
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Log In</a></p>
</section>
